* {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 55px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}